In [1]:
import pymysql

# 打开数据库连接
db = pymysql.connect("localhost","testuser","test123","TESTDB" )
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT VERSION()")
 
# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()
 
print ("Database version : %s " % data)
 
# 关闭数据库连接
db.close()

In [17]:
# 打开数据库连接
db = pymysql.connect("127.0.0.1","root","root","douban" )

In [18]:
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()

In [23]:
sql = "select * from test"
cursor.execute(sql)  # 执行sql

4

In [36]:
sql = "insert into test(a,b) values(%s, %s)"  # 注意是%s,不是s%
cursor.execute(sql, [1,2])  # 列表格式数据
cursor.execute(sql, ( 3,4))  # 元组格式数据
db.commit()

In [33]:
sql = "insert into test values(%s,'%s')" %(11,22)

In [26]:
sql = "select * from test"
res = cursor.execute(sql)  # 执行sql

In [30]:
for i in res:
    print(i)

TypeError: 'int' object is not iterable

In [42]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='test',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `index` (`id`) VALUES (%s)"
        cursor.execute(sql, (111))

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

#     with connection.cursor() as cursor:
#         # Read a single record
#         sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
#         cursor.execute(sql, ('webmaster@python.org',))
#         result = cursor.fetchone()
#         print(result)
finally:
    connection.close()