In [10]:
import pymysql

# 打开数据库连接
db = pymysql.connect("localhost","testuser","test123","TESTDB" )
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT VERSION()")
 
# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()
 
print ("Database version : %s " % data)
 
# 关闭数据库连接
db.close()

In [11]:
# 打开数据库连接
db = pymysql.connect("122.51.217.102","root","wwt07261X..","test" )

In [12]:
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()

In [14]:
sql = "INSERT INTO `infor` (`name`, `age`) VALUES (%s, %s)"
cursor.execute(sql, ('wwt',20))
db.commit()
db.close()